body {
    background-color: dimgray;
    margin: 0;
    padding: 0;
}

.tabBar {
    background-color: cornflowerblue;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 0;
    padding-right: 0;
    overflow: hidden;
}


.tabLink {
    padding: 8px;
    background-color: aliceblue;
    text-align: center;
    font-size: 24px;
    margin: 0;
    float: left;
    border-style: solid;
    border-color: black;
    border-radius: 16px;
    border-width: 1px;
    width: 15%;
}

.tabContent {
    background-color: grey;
    padding: 8px;
    border-color: black;
    border-style: solid;
    border-width: 1px;
    overflow: hidden;
}

.tabLink:hover {
    transition: 0.5s;
    cursor: pointer;
    background-color: cadetblue;
}

.tabLink:active {
    background-color: darkslategray;
}

h1 {
    font-family: 'Courier New', Courier, monospace;
    font-size: 30px;
    color: cadetblue;
}

h2 {
    font-family: 'Courier New', Courier, monospace;
    font-size: 24px;
    margin: 4px;
}

h3 {
    font-family: 'Courier New', Courier, monospace;
    font-size: 36px;
    text-align: center;
    color: darkslategray;
    margin: 12px;
}

h4 {
    text-align: center;
    color: slategray;
    font-size: 30px;
    font-family: 'Courier New', Courier, monospace;
    margin: 8px;
}

.inventorySquare {
    border-style: solid;
    border-color: black;
    border-width: 1px;
    overflow-y: visible;
    float: left;
    width: 19%;
    height: fit-content;
    margin: auto;
    padding: 4px;
    text-align: center;
    background-color: lightslategray;
}

#inventoryDiv {
    margin: auto;
    padding: 0;
    width: 98%;
    padding: 8px;
    background-color: aliceblue;
    overflow-y: scroll;
}

img {
    margin: auto;
    width: 128px;
    height: 128px;
}

p {
    font-family: 'Courier New', Courier, monospace;
    font-size: 20px;
    font-weight: bold;
}

.rockButtons {
    font-size: 24px;
    text-align: center;
    display: block;
    width: 75%;
    margin: auto;
}

.craftingButtons {
    font-size: 18px;
    text-align: center;
    display: block;
    width: 75%;
    margin: auto;
}

.settingButton {
    font-size: 36px;
    text-align: center;
    border-radius: 16px;
    border-color: black;
    border-style: solid;
    padding: 12px;
}

.settingButton:hover {
    background-color: cornflowerblue;
    transition: 0.5s;
}

button {
    background-color: lightgray;
}

button:hover {
    cursor: pointer;
    background-color: darkgray;
    transition: 0.5s;
}

button:disabled {
    background-color: lightgray;
    cursor: not-allowed;
}

.mainDiv {
    border-color: black;
    border-style: solid;
    border-width: 4px;
    background-color: silver;
    width: 25%;
    float: left;
    padding: 8px;
}

.visualGain {
    margin: 0;
    color: red;
    text-align: center;
    transition: 0.5s;
}

#informationDiv {
    border-color: black;
    border-style: solid;
    border-width: 4px;
    background-color: silver;
    width: 18%;
    float: left;
    padding: 8px;
}

.smeltButtons {
    font-size: 18px;
    width: 75%;
    margin: auto;
    display: block;
}

#craftingDiv {
    width:auto;
    overflow-y: scroll;
    padding: 4px;
    margin: 0;
    background-color: cadetblue;
    border-color: black;
    border-style: solid;
    border-width: 4px;
}

.craftingRecipeButton {
    border-width: 1px;
    border-color: black;
    border-style: solid;
    padding: 8px;
    text-align: center;
    width: 19.5%;
}

#toolCraftingDiv {
    width: 20%;
}

#craftingMenuDiv {
    border-width: 4px;
    border-color: black;
    border-style: solid;
    background-color: cornflowerblue;
    margin: auto;
    padding: 16px;
    text-align: center;  
    width: 20%;
}

a {
    font-family: 'Courier New', Courier, monospace;
    font-size: 24px;
    font-weight: 4px;
    color: cyan;
}

#discordLinkDiv {
    text-align: center;
}

#craftingRecipeDesc {
    font-size: 16px;
    text-align: justify;
}

#craftRecipeButton {
    font-size: 24px;
    border-radius: 8px;
    padding: 8px;
    border-color: black;
    border-style: solid;
    background-color: gainsboro;
}

#craftRecipeButton:hover {
    background-color: darkcyan;
    transition: 0.5s;
}